# Sorting rows
## ORDER BY
Sometimes we want to control the order in which the results are displayed. It is often easier to explore data and 
analyse the results when data is sorted in a meaning way. This is when ``ORDER BY``` clause comes into play.

The syntax of the ```ORDER BY``` clause is: 

```
SELECT column1, column2, ...
FROM table_name
ORDER BY column1 ASC|DESC, column2 ASC|DESC, ... ASC|DESC
```

That is, we basically specifiy the columns in which we want to order the results and specify if we want the results in ascending or descending order.

Let us see some examples extracted from the classic_model database. This is the total list of orders:

```sql
SELECT * FROM Orders 
LIMIT 10;
```
Will return: 

| orderNumber | orderDate | requiredDate | shippedDate | status | comments | customerNumber |
|-------------|-----------|--------------|-------------|--------|----------|----------------|
|10100 | 2003-01-06 | 2003-01-13 | 2003-01-10 | Shipped | null | 363|
|10101 | 2003-01-09 | 2003-01-18 | 2003-01-11 | Shipped | Check on availability. | 128|
| 10102 | 2003-01-10 | 2003-01-18 | 2003-01-14 | Shipped | null | 181 |
| 10103 | 2003-01-29 | 2003-02-07 | 2003-02-02 | Shipped | null | 121 |
| 10104 | 2003-01-31 | 2003-02-09 | 2003-02-01 | Shipped | null | 141 |
| 10105 | 2003-02-11 | 2003-02-21 | 2003-02-12 | Shipped | null | 145 |
| 10106 | 2003-02-17 | 2003-02-24 | 2003-02-21 | Shipped | null | 278 |
| 10107 | 2003-02-24 | 2003-03-03 | 2003-02-26 | Shipped | Difficult to negotiate with customer. We need more marketing materials | 131 |
| 10108 | 2003-03-03 | 2003-03-12 | 2003-03-08 | Shipped | null | 385 |
| 10109 | 2003-03-10 | 2003-03-19 | 2003-03-11 | Shipped | Customer requested that FedEx Ground is used for this shipping | 486 |

Note that we use the LIMIT 10 clause to limit to 10 results. 

We can for instance order the result by customerNumber as: 

```sql
SELECT * FROM Orders
ORDER BY customerNumber
LIMIT 10;
```
Will return the values ordered by customer: 

| orderNumber | orderDate | requiredDate | shippedDate | status | comments | customerNumber |
|-------------|-----------|--------------|-------------|--------|----------|----------------|
| 10298 | 2004-09-27 | 2004-10-05 | 2004-10-01 | Shipped | null | 103 |
| 10123 | 2003-05-20 | 2003-05-29 | 2003-05-22 | Shipped | null | 103 |
| 10345 | 2004-11-25 | 2004-12-01 | 2004-11-26 | Shipped | null | 103 |
| 10346 | 2004-11-29 | 2004-12-05 | 2004-11-30 | Shipped | null | 112 |
| 10278 | 2004-08-06 | 2004-08-16 | 2004-08-09 | Shipped | null | 112 |
| 10124 | 2003-05-21 | 2003-05-29 | 2003-05-25 | Shipped | Customer very concerned about the exact color of the models. There is high risk that he may dispute the order because there is a slight color mismatch | 112 |
| 10120 | 2003-04-29 | 2003-05-08 | 2003-05-01 | Shipped | null | 114 |
| 10342 | 2004-11-24 | 2004-12-01 | 2004-11-29 | Shipped | null | 114 |
| 10347 | 2004-11-29 | 2004-12-07 | 2004-11-30 | Shipped | Can we deliver the new Ford Mustang models by end-of-quarter? | 114 |
| 10125 | 2003-05-21 | 2003-05-27 | 2003-05-24 | Shipped | null | 114 |

Note that by default, ```ORDER BY``` returns the results in **ascending order** from the lowest value to the highest value. We can reverse the order, applying a **descending order** with the keyword DESC:

```sql
SELECT * FROM Orders
ORDER BY customerNumber DESC;
```
| orderNumber | orderDate | requiredDate | shippedDate | status | comments | customerNumber |
|-------------|-----------|--------------|-------------|--------|----------|----------------|
| 10138 | 2003-07-07 | 2003-07-16 | 2003-07-13 | Shipped | null | 496 |
| 10179 | 2003-11-11 | 2003-11-17 | 2003-11-13 | Cancelled | Customer cancelled due to urgent budgeting issues. Must be cautious when dealing with them in the future. Since order shipped already we must discuss who would cover the shipping charges. | 496 |
| 10360 | 2004-12-16 | 2004-12-22 | 2004-12-18 | Shipped | null | 496 |
| 10399 | 2005-04-01 | 2005-04-12 | 2005-04-03 | Shipped | null | 496 |
| 10243 | 2004-04-26 | 2004-05-03 | 2004-04-28 | Shipped | null | 495 |
| 10207 | 2003-12-09 | 2003-12-17 | 2003-12-11 | Shipped | Check on availability. | 495 |
| 10186 | 2003-11-14 | 2003-11-20 | 2003-11-18 | Shipped | They want to reevaluate their terms agreement with the VP of Sales | 489 |
| 10213 | 2004-01-22 | 2004-01-28 | 2004-01-27 | Shipped | Difficult to negotiate with customer. We need more marketing materials | 489 |
| 10149 | 2003-09-12 | 2003-09-18 | 2003-09-17 | Shipped | null | 487 |
| 10219 | 2004-02-10 | 2004-02-17 | 2004-02-12 | Shipped | null | 487 |

We can apply sorting in multiple columns simultaneously. Imagine we want to sort orders first by customerNumber, and then, for each customer, we want to see the orders by order date in descending order, so that we see most recent orders first:

```sql
SELECT * FROM Orders
ORDER BY customerNumber, orderDate DESC;
```
| orderNumber | orderDate | requiredDate | shippedDate | status | comments | customerNumber |
|-------------|-----------|--------------|-------------|--------|----------|----------------|
| 10345 | 2004-11-25 | 2004-12-01 | 2004-11-26 | Shipped | null | 103 |
| 10298 | 2004-09-27 | 2004-10-05 | 2004-10-01 | Shipped | null | 103 |
| 10123 | 2003-05-20 | 2003-05-29 | 2003-05-22 | Shipped | null | 103 |
| 10346 | 2004-11-29 | 2004-12-05 | 2004-11-30 | Shipped | null | 112 |
| 10278 | 2004-08-06 | 2004-08-16 | 2004-08-09 | Shipped | null | 112 |
| 10124 | 2003-05-21 | 2003-05-29 | 2003-05-25 | Shipped | Customer very concerned about the exact color of the models. There is high risk that he may dispute the order because there is a slight color mismatch | 112 |
| 10347 | 2004-11-29 | 2004-12-07 | 2004-11-30 | Shipped | Can we deliver the new Ford Mustang models by end-of-quarter? | 114
| 10342 | 2004-11-24 | 2004-12-01 | 2004-11-29 | Shipped | null | 114 |
| 10223 | 2004-02-20 | 2004-02-29 | 2004-02-24 | Shipped | null | 114 |
| 10125 | 2003-05-21 | 2003-05-27 | 2003-05-24 | Shipped | null | 114 |

## Aggregate functions
Aggregate functions are functions that operate on a set of values across different records. 
For instance, the function average returns the average of the value passed as argument. We can use this function in our query as with data type functions. Look at the example below:

```sql 
SELECT AVG(amount) 
FROM payments WHERE customerNumber = 103;
+-------------+
| avg(amount) |
+-------------+
| 7438.120000 |
+-------------+
```

We have used a select query with the ```AVG``` function to calculate the average of the payment amount 

### Group By 
The group by 
On character type columns, sorting—like all other comparison operations—is normally performed in a case-insensitive fashion. This means that the order is undefined for columns that are identical except for their case.
Returns the number of records returned by a select query
SUM | Calculates the sum of a set of values

MAX | Returns the maximum value in a set of values
MIN | Returns the minimum value in a set of values